<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <img src="https://smallseotools.com/counterDisplay?code=80791b3ae7002cb88c246876d9faa8f8&style=0015&pad=5&type=page&initCount=100" title="Visitor Hit Counter" Alt="Visitor Hit Counter" border="0">


    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
</body>

</html>